# Configuración de Django
DEBUG=True
SECRET_KEY=django-insecure-&ifyxl=t_*+tq&okqw3er&&hd8m4=ws#d0xbqy0h(^x4ja@1wl

# Configuración de Base de Datos PostgreSQL
# Formato: postgres://usuario:contraseña@servidor:puerto/nombre_bd
DATABASE_URL=postgres://postgres:123456789@localhost:5432/fitki_db
